body {
    margin: 0;
    background-color: #f7efd9;
    font-family: "Questrial", sans-serif;
    line-height: 1.7;
  overflow-x: hidden;
}


header {
    background-color: #a00000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

header img {
    height: 70px;
    margin-left: 20px;
}

.menu {
    background-color: #a6170f;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
}


.logo {
    height: 100px;
    width: 100px; 
}


.nav-links {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex: 1; /* esse flex ta dando errooooo */
    justify-content: center;
    gap: 90px;

}

.nav-links a {
   
    color: #f7efd9c9;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}



h1 {
    font-family: "Gasoek One", sans-serif;
    text-align: center;
    color: #a00000;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 900;
    font-weight: 300;
}


.intro {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: #333;
}


.conteudo {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 50px;
}

.card {
    background-color: #a00000;
    padding: 20px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    color:#f7efd9c9;
    line-height: 1.4;
}

.nhv {

    height: 600px;
    width: 900px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;

}

